/* paddings and sizes */
/* borders */
/* colors */
/* screens */
/* some mixing */
html {
  font-size: 100%;
}
body {
  background: #fff;
  font-size: .8em;
}
/* some default styles */
.a-center {
  text-align: center;
}
.hidden {
  display: none;
}
/* some default styles */
.container {
  margin: 60px;
}
table td {
  padding: 3px 5px;
  margin: 0;
  border: 1px solid #ccc;
  background: #ffffff;
  white-space: nowrap;
  border-style: none solid solid none;
}
table tr {
  padding: 0;
  margin: 0;
  border: 1px solid #ccc;
}
.flight-table .table-head {
  position: absolute;
  left: 60px;
  top: 60px;
  width: calc(100% - 120px);
  height: 20px;
  overflow: hidden;
  z-index: 100;
}
.flight-table .table-head-fixed {
  position: fixed;
  top: 0;
}
.flight-table table {
  border-collapse: collapse;
  border: 0;
  width: 100%;
  min-width: 800px;
}
.flight-table table col.hightlight {
  background: #f2dede !important;
}
.flight-table table thead td {
  padding: 10px 5px;
  background: #fcf8e3;
}
.flight-table table tbody tr:nth-child(odd) td {
  background: #dff0d8;
}
.flight-table table tbody tr:nth-child(even) td {
  background: #ffffff;
}
.flight-table table tbody tr:hover td,
.flight-table table tbody tr td.hover {
  background: #f2dede;
}
.flight-table table td img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.flight-table table td.company,
.flight-table table td.status {
  white-space: normal;
}
form {
  background: #e6e6e6;
  margin: 0 0 20px 0;
}
form label {
  padding: 20px;
  display: inline-block;
}
form label input[type=checkbox] {
  margin: 0 5px 0 0;
}
.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 200;
  display: none;
}
.popup {
  position: fixed;
  left: 50vw;
  top: 50vh;
  width: 30vw;
  height: auto;
  background: #ffffff;
  z-index: 200;
  min-width: 500px;
  min-height: 300px;
  margin: -15vh 0 0 -15vw;
  display: none;
}
.popup .wrapper {
  position: relative;
  width: 100%;
}
.popup .wrapper .close {
  position: absolute;
  right: 5px;
  top: 0px;
  font-size: 2em;
  cursor: pointer;
}
.popup .wrapper .close:hover {
  color: #ff0000;
}
.popup .wrapper .content {
  padding: 40px;
}
.popup .wrapper .content table {
  width: 100%;
}
.popup .wrapper .content table tr td {
  padding: 5px;
  white-space: normal;
}
.popup .wrapper .content table tr td:first-child {
  background: #eee;
}
.popup .wrapper .content table tr td.image_place {
  background: white;
}
@media only screen and (min-width: 1200px) {
  .small {
    display: none;
  }
  .middle {
    display: none;
  }
  .full {
    display: none;
  }
  .big {
    display: block;
  }
  td.small {
    display: none;
  }
  td.middle {
    display: none;
  }
  td.full {
    display: table-cell;
  }
}
@media only screen and (min-width: 1000px) and (max-width: 1199px) {
  .small {
    display: none;
  }
  .middle {
    display: none;
  }
  .big {
    display: none;
  }
  .full {
    display: block;
  }
  td.small {
    display: none;
  }
  td.middle {
    display: none;
  }
  td.full {
    display: table-cell;
  }
}
@media only screen and (min-width: 900px) and (max-width: 999px) {
  .small {
    display: none;
  }
  .full {
    display: none;
  }
  .big {
    display: none;
  }
  .middle {
    display: block;
  }
  td.small {
    display: none;
  }
  td.full {
    display: none;
  }
  td.middle {
    display: table-cell;
  }
  td {
    padding: 3px 3px;
  }
  .flight-table .table-head {
    left: 20px;
    top: 20px;
    width: calc(100% - 40px);
  }
  .flight-table .table-head-fixed {
    top: 0;
  }
  .container {
    margin: 20px;
  }
}
@media only screen and (max-width: 899px) {
  .middle {
    display: none;
  }
  .full {
    display: none;
  }
  .big {
    display: none;
  }
  .small {
    display: block;
  }
  td.middle {
    display: none;
  }
  td.full {
    display: none;
  }
  td.small {
    display: table-cell;
  }
  td.company_icon img {
    max-width: 60px !important;
    max-height: 15px;
  }
  .flight-table .table-head {
    left: 20px;
    top: 20px;
    width: calc(100% - 40px);
  }
  .flight-table .table-head-fixed {
    top: 0;
  }
  .container {
    margin: 20px;
  }
}
